TA_ENVIRONMENT="dev"
TA_DATABASE_DSN="postgresql://postgres:postgres@postgres/postgres"
TA_TG_BOT_TOKEN=""
TA_TG_BASE_URL="https://api.telegram.org/"
TA_SALEBOT_API_BASE_URL="https://chatter.salebot.pro"
TA_SALEBOT_API_KEY=""
TA_BOTNAME=""
TA_API_FROM_BOT_TOKEN="from_bot_token"
TA_API_FROM_RETOOL_TOKEN="from_retool_token"
TA_AUTO_RELOAD="true"
TA_PROMETHEUS_NAME_PREFIX="taskapp"
TA_PROMETHEUS_PORT="9100"
TA_SENTRY_DSN=""
TA_BACKEND_BASE_URL=""
TA_APP_NAME="app"