TA_ENVIRONMENT="dev"
TA_DATABASE_DSN="postgresql://postgres:postgres@postgres/postgres"
TA_BOTNAME=""
TA_AUTO_RELOAD="true"
TA_PROMETHEUS_NAME_PREFIX="taskapp"
TA_PROMETHEUS_PORT="9100"
TA_SENTRY_DSN=""
TA_BACKEND_BASE_URL=""
TA_APP_NAME="app"